/* 360 */

.floating-icon {
    display: none !important;
}

.floating-bg {
    overflow: hidden !important;
}

.floating-thumb {
    background-size: contain !important;
    background-color: transparent !important;
    background-image: url('https://p3.ssl.qhimg.com/t0128439c6143122bad.png') !important;
}

.light,
[data-theme="light"] {
    --heroui-background: 113 40 96 !important;
    --heroui-primary-50: 144 71 46 !important;
    --heroui-primary-100: 144 71 46 !important;
    --heroui-primary-200: 144 71 46 !important;
    --heroui-primary-300: 144 71 46 !important;
    --heroui-primary-400: 144 71 46 !important;
    --heroui-primary-500: 144 71 46 !important;
    --heroui-primary-600: 144 71 46 !important;
    --heroui-primary-700: 144 71 46 !important;
    --heroui-primary-800: 144 71 46 !important;
    --heroui-primary-900: 144 71 46 !important;
    --heroui-primary: 144 71 46 !important;
    --heroui-secondary-50: 56 100 50 !important;
    --heroui-secondary-100: 56 100 50 !important;
    --heroui-secondary-200: 56 100 50 !important;
    --heroui-secondary-300: 56 100 50 !important;
    --heroui-secondary-400: 56 100 50 !important;
    --heroui-secondary-500: 56 100 50 !important;
    --heroui-secondary-600: 56 100 50 !important;
    --heroui-secondary-700: 56 100 50 !important;
    --heroui-secondary-800: 56 100 50 !important;
    --heroui-secondary-900: 56 100 50 !important;
    --heroui-secondary: 56 100 50 !important;
}

.dark,
[data-theme="dark"] {
    --heroui-primary-50: 145 100 33 !important;
    --heroui-primary-100: 145 100 33 !important;
    --heroui-primary-200: 145 100 33 !important;
    --heroui-primary-300: 145 100 33 !important;
    --heroui-primary-400: 145 100 33 !important;
    --heroui-primary-500: 145 100 33 !important;
    --heroui-primary-600: 145 100 33 !important;
    --heroui-primary-700: 145 100 33 !important;
    --heroui-primary-800: 145 100 33 !important;
    --heroui-primary-900: 145 100 33 !important;
    --heroui-primary: 145 100 33 !important;
    --heroui-secondary-50: 56 100 50 !important;
    --heroui-secondary-100: 56 100 50 !important;
    --heroui-secondary-200: 56 100 50 !important;
    --heroui-secondary-300: 56 100 50 !important;
    --heroui-secondary-400: 56 100 50 !important;
    --heroui-secondary-500: 56 100 50 !important;
    --heroui-secondary-600: 56 100 50 !important;
    --heroui-secondary-700: 56 100 50 !important;
    --heroui-secondary-800: 56 100 50 !important;
    --heroui-secondary-900: 56 100 50 !important;
    --heroui-secondary: 56 100 50 !important;
}
