/* Gemini */

:root {
  --gemini-color-logo-gradient: linear-gradient(90deg,
      #2079fe 0%,
      #098efb 33.53%,
      #ad89eb 70%,
      #ef4e5e 100%);
  --gemini-color-white: #ffffff;
  --gemini-color-grey-50: #f7f9fd;
  --gemini-color-grey-100: #f0f3f8;
  --gemini-color-grey-200: #d2d8e4;
  --gemini-color-grey-300: #b7becf;
  --gemini-color-grey-400: #939db6;
  --gemini-color-grey-500: #828fb1;
  --gemini-color-grey-600: #2f3543;
  --gemini-color-grey-700: #1b212d;
  --gemini-color-grey-800: #161823;
  --gemini-color-grey-900: #060606;
  --gemini-color-black: #000000;
  --gemini-color-white-hsl: 0 0% 100%;
  --gemini-color-grey-50-hsl: 220 60% 98%;
  --gemini-color-grey-100-hsl: 218 36% 96%;
  --gemini-color-grey-200-hsl: 220 25% 86%;
  --gemini-color-grey-300-hsl: 222 20% 76%;
  --gemini-color-grey-400-hsl: 223 19% 65%;
  --gemini-color-grey-500-hsl: 223 23% 60%;
  --gemini-color-grey-600-hsl: 222 18% 22%;
  --gemini-color-grey-700-hsl: 220 25% 14%;
  --gemini-color-grey-800-hsl: 231 23% 11%;
  --gemini-color-grey-900-hsl: 0 0% 2%;
  --gemini-color-black-hsl: 0 0% 0%;
  --gemini-color-gemini-peach: #FFDDB7;
  --gemini-color-gemini-blue: #368EFE;
  --gemini-color-gemini-blue-hsl: 214 99% 60%;
  --gemini-color-gemini-cyan: #4FABFF;
  --gemini-color-gemini-cyan-hsl: 209 100% 65%;
  --gemini-color-gemini-light-blue: #B1C5FF;
  --gemini-color-gemini-light-blue-hsl: 225 100% 85%;
  --gemini-color-gemini-white: var(--gemini-color-white);
  --gemini-color-gemini-grey-700: #5F6368;
  --gemini-color-gemini-grey-900: #202124;
  --gemini-color-blue: #368efe;
  --gemini-color-purple-100: #ac87eb;
  --gemini-color-red-200: #ee4d5d;
  --gemini-color-green-800: #137333;
  --gemini-color-blue-800: #185ABC;
  --gemini-color-blue-gradient: linear-gradient(61deg, #64b8fb 6.28%, #217bfe 76.97%);
  --gemini-color-pink-gradient: linear-gradient(90deg, #a485fa -104.88%, var(--gemini-color-red-200) 198.78%);
  --gemini-color-logo-gradient: linear-gradient(90deg, #217bfe 0%, #078efb 33.53%, #ac87eb 70%, #ee4d5d 100%);
  --gemini-color-primary-button-gradient: linear-gradient(52deg, #0844ff 11.5%, #64b8fb 129.52%);
  --gemini-color-chart-gradient: linear-gradient(105deg, #446eff 18.71%, #2e96ff 49.8%, #b1c5ff 90.55%);
  --gemini-color-foreground: var(--gemini-color-white);
  --gemini-color-background: var(--gemini-color-grey-900);
  --gemini-branding-button-gradient: linear-gradient(15deg, #217BFE 1.02%, #078EFB 28.51%, #A190FF 80.14%, #BD99FE 102.85%);
  --gemini-branding-text-gradient: linear-gradient(90deg, #217BFE 0%, #078EFB 33.53%, #AC87EB 67.74%, #EE4D5D 100%);
  --gemini-gradient-linear-colors: var(--gemini-color-gemini-blue) 5.96%, var(--gemini-color-gemini-cyan) 56.89%, var(--gemini-color-gemini-light-blue) 93.53%;
  --gemini-gradient-linear: linear-gradient(53deg, #0260FF 9.29%, #40A2FF 48.23%, #A8BEFF 82.56%);
  --gemini-text-gradient-light-blue: linear-gradient(69deg, #AABDF4 16.42%, #FFF 77.56%, #A8BEFF 124.91%);
}

.dark,
[data-theme="dark"] {
  --heroui-background: var(--gemini-color-black-hsl) !important;
  --heroui-foreground-50: var(--gemini-color-grey-900-hsl) !important;
  --heroui-foreground-100: var(--gemini-color-grey-800-hsl) !important;
  --heroui-foreground-200: var(--gemini-color-grey-700-hsl) !important;
  --heroui-foreground-300: var(--gemini-color-grey-600-hsl) !important;
  --heroui-foreground-400: var(--gemini-color-grey-500-hsl) !important;
  --heroui-foreground-500: var(--gemini-color-grey-400-hsl) !important;
  --heroui-foreground-600: var(--gemini-color-grey-300-hsl) !important;
  --heroui-foreground-700: var(--gemini-color-grey-200-hsl) !important;
  --heroui-foreground-800: var(--gemini-color-grey-100-hsl) !important;
  --heroui-foreground-900: var(--gemini-color-grey-50-hsl) !important;
  --heroui-foreground: var(--gemini-color-grey-500-hsl) !important;
  --heroui-focus: 240 5.2% 33.92% !important;
  --heroui-overlay: 0 0% 0% !important;
  --heroui-divider: 0 0% 100% !important;
  --heroui-divider-opacity: 0.15 !important;
  --heroui-content1: 240 5.88% 10% !important;
  --heroui-content1-foreground: 0 0% 98.04% !important;
  --heroui-content2: 240 3.7% 15.88% !important;
  --heroui-content2-foreground: 240 4.76% 95.88% !important;
  --heroui-content3: 240 5.26% 26.08% !important;
  --heroui-content3-foreground: 240 5.88% 90% !important;
  --heroui-content4: 240 5.2% 33.92% !important;
  --heroui-content4-foreground: 240 4.88% 83.92% !important;
  --heroui-default-50: var(--gemini-color-grey-900-hsl) !important;
  --heroui-default-100: var(--gemini-color-grey-800-hsl) !important;
  --heroui-default-200: var(--gemini-color-grey-700-hsl) !important;
  --heroui-default-300: var(--gemini-color-grey-600-hsl) !important;
  --heroui-default-400: var(--gemini-color-grey-500-hsl) !important;
  --heroui-default-500: var(--gemini-color-grey-400-hsl) !important;
  --heroui-default-600: var(--gemini-color-grey-300-hsl) !important;
  --heroui-default-700: var(--gemini-color-grey-200-hsl) !important;
  --heroui-default-800: var(--gemini-color-grey-100-hsl) !important;
  --heroui-default-900: var(--gemini-color-grey-50-hsl) !important;
  --heroui-default-foreground: var(--heroui-default-500) !important;
  --heroui-default: var(--heroui-default-200) !important;
  --custom-default-50: var(--gemini-color-grey-900) !important;
  --custom-default-100: var(--gemini-color-grey-800) !important;
  --custom-default-200: var(--gemini-color-grey-700) !important;
  --custom-default-300: var(--gemini-color-grey-600) !important;
  --custom-default-400: var(--gemini-color-grey-500) !important;
  --custom-default-500: var(--gemini-color-grey-400) !important;
  --custom-default-600: var(--gemini-color-grey-300) !important;
  --custom-default-700: var(--gemini-color-grey-200) !important;
  --custom-default-800: var(--gemini-color-grey-100) !important;
  --custom-default-900: var(--gemini-color-grey-50) !important;
  --custom-default-foreground: var(--heroui-default-500) !important;
  --custom-default: var(--custom-default-500) !important;
  --heroui-primary-50: var(--gemini-color-grey-900-hsl) !important;
  --heroui-primary-100: var(--gemini-color-grey-800-hsl) !important;
  --heroui-primary-200: var(--gemini-color-grey-700-hsl) !important;
  --heroui-primary-300: var(--gemini-color-grey-600-hsl) !important;
  --heroui-primary-400: var(--gemini-color-grey-500-hsl) !important;
  --heroui-primary-500: var(--gemini-color-grey-400-hsl) !important;
  --heroui-primary-600: var(--gemini-color-grey-300-hsl) !important;
  --heroui-primary-700: var(--gemini-color-grey-200-hsl) !important;
  --heroui-primary-800: var(--gemini-color-grey-100-hsl) !important;
  --heroui-primary-900: var(--gemini-color-grey-50-hsl) !important;
  --heroui-primary-foreground: var(--heroui-default-100) !important;
  --heroui-primary: var(--heroui-primary-800) !important;
  --heroui-secondary-50: 270 66.67% 9.41% !important;
  --heroui-secondary-100: 270 66.67% 18.82% !important;
  --heroui-secondary-200: 270 66.67% 28.24% !important;
  --heroui-secondary-300: 270 66.67% 37.65% !important;
  --heroui-secondary-400: 270 66.67% 47.06% !important;
  --heroui-secondary-500: 270 59.26% 57.65% !important;
  --heroui-secondary-600: 270 59.26% 68.24% !important;
  --heroui-secondary-700: 270 59.26% 78.82% !important;
  --heroui-secondary-800: 270 59.26% 89.41% !important;
  --heroui-secondary-900: 270 61.54% 94.9% !important;
  --heroui-secondary-foreground: 0 0% 100% !important;
  --heroui-secondary: 270 59.26% 57.65% !important;
  --heroui-success-50: 145 77.78% 8.82% !important;
  --heroui-success-100: 146.2 79.78% 17.45% !important;
  --heroui-success-200: 145 79.26% 26.47% !important;
  --heroui-success-300: 146 79.89% 35.1% !important;
  --heroui-success-400: 145 79.46% 43.92% !important;
  --heroui-success-500: 146 62.45% 55.1% !important;
  --heroui-success-600: 145 62.57% 66.47% !important;
  --heroui-success-700: 146 61.74% 77.45% !important;
  --heroui-success-800: 145 61.4% 88.82% !important;
  --heroui-success-900: 146 64.29% 94.51% !important;
  --heroui-success-foreground: 0 0% 0% !important;
  --heroui-success: 145 79.46% 43.92% !important;
  --heroui-warning-50: 37 75% 10.98% !important;
  --heroui-warning-100: 37 75% 21.96% !important;
  --heroui-warning-200: 36 73.96% 33.14% !important;
  --heroui-warning-300: 37 74.22% 44.12% !important;
  --heroui-warning-400: 37 91.27% 55.1% !important;
  --heroui-warning-500: 37 91.26% 64.12% !important;
  --heroui-warning-600: 36 91.24% 73.14% !important;
  --heroui-warning-700: 37 91.3% 81.96% !important;
  --heroui-warning-800: 37 91.3% 90.98% !important;
  --heroui-warning-900: 54 91.67% 95.29% !important;
  --heroui-warning-foreground: 0 0% 0% !important;
  --heroui-warning: 37 91.27% 55.1% !important;
  --heroui-danger-50: 340 84.91% 10.39% !important;
  --heroui-danger-100: 339 86.54% 20.39% !important;
  --heroui-danger-200: 339 85.99% 30.78% !important;
  --heroui-danger-300: 339 86.54% 40.78% !important;
  --heroui-danger-400: 339 90.36% 51.18% !important;
  --heroui-danger-500: 339 90% 60.78% !important;
  --heroui-danger-600: 339 90.6% 70.78% !important;
  --heroui-danger-700: 339 90% 80.39% !important;
  --heroui-danger-800: 340 91.84% 90.39% !important;
  --heroui-danger-900: 339 92% 95.1% !important;
  --heroui-danger-foreground: 0 0% 100% !important;
  --heroui-danger: 339 90.36% 51.18% !important;
  --heroui-divider-weight: 1px !important;
  --heroui-disabled-opacity: 0.5 !important;
  --heroui-font-size-tiny: 0.75rem !important;
  --heroui-font-size-small: 0.875rem !important;
  --heroui-font-size-medium: 1rem !important;
  --heroui-font-size-large: 1.125rem !important;
  --heroui-line-height-tiny: 1rem !important;
  --heroui-line-height-small: 1.25rem !important;
  --heroui-line-height-medium: 1.5rem !important;
  --heroui-line-height-large: 1.75rem !important;
  --heroui-radius-small: 8px !important;
  --heroui-radius-medium: 12px !important;
  --heroui-radius-large: 14px !important;
  --heroui-border-width-small: 1px !important;
  --heroui-border-width-medium: 2px !important;
  --heroui-border-width-large: 3px !important;
  --heroui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.05),
    0px 2px 10px 0px rgb(0 0 0 / 0.2),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --heroui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.06),
    0px 2px 30px 0px rgb(0 0 0 / 0.22),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --heroui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.07),
    0px 30px 60px 0px rgb(0 0 0 / 0.26),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --heroui-hover-opacity: 0.9 !important;
  --custom-main-background: var(--gemini-color-black);
  --custom-side-background: rgb(30, 31, 32);
  --custom-bg-mask-background: rgba(0, 0, 0, 0.4);
  --custom-bg-mask-foreground: var(--gemini-color-white);

  .main .content .bg-default,
  .main .bg-primary,
  .side .bg-primary {
    background: var(--custom-default-200);
  }

  .main .bg-default-100 {
    background-color: var(--custom-default-100);
  }

  .group[data-selected=true] .group-data-\[selected\=true\]\:bg-primary {
    background-color: var(--gemini-color-gemini-blue);
  }

  .group-data-\[selected\=true\]\:bg-primary {
    background-color: var(--custom-default-400);
  }

  .group-data-\[selected\=true\]\:bg-primary.border-2 {
    border-color: transparent !important;
  }
}

.light,
[data-theme="light"] {
  color-scheme: light !important;
  --heroui-background: var(--gemini-color-white-hsl) !important;
  --heroui-foreground-50: var(--gemini-color-grey-50-hsl) !important;
  --heroui-foreground-100: var(--gemini-color-grey-100-hsl) !important;
  --heroui-foreground-200: var(--gemini-color-grey-200-hsl) !important;
  --heroui-foreground-300: var(--gemini-color-grey-300-hsl) !important;
  --heroui-foreground-400: var(--gemini-color-grey-400-hsl) !important;
  --heroui-foreground-500: var(--gemini-color-grey-500-hsl) !important;
  --heroui-foreground-600: var(--gemini-color-grey-600-hsl) !important;
  --heroui-foreground-700: var(--gemini-color-grey-700-hsl) !important;
  --heroui-foreground-800: var(--gemini-color-grey-800-hsl) !important;
  --heroui-foreground-900: var(--gemini-color-grey-900-hsl) !important;
  --heroui-foreground: var(--gemini-color-grey-500-hsl) !important;
  --heroui-divider: 0 0% 6.67% !important;
  --heroui-divider-opacity: 0.15 !important;
  --heroui-focus: 212 100% 46.67% !important;
  --heroui-overlay: 0 0% 0% !important;
  --heroui-content1: 0 0% 100% !important;
  --heroui-content1-foreground: 201 24.44% 8.82% !important;
  --heroui-content2: 240 4.76% 95.88% !important;
  --heroui-content2-foreground: 240 3.7% 15.88% !important;
  --heroui-content3: 240 5.88% 90% !important;
  --heroui-content3-foreground: 240 5.26% 26.08% !important;
  --heroui-content4: 240 4.88% 83.92% !important;
  --heroui-content4-foreground: 240 5.2% 33.92% !important;
  --heroui-default-50: var(--gemini-color-grey-50-hsl) !important;
  --heroui-default-100: var(--gemini-color-grey-100-hsl) !important;
  --heroui-default-200: var(--gemini-color-grey-200-hsl) !important;
  --heroui-default-300: var(--gemini-color-grey-300-hsl) !important;
  --heroui-default-400: var(--gemini-color-grey-400-hsl) !important;
  --heroui-default-500: var(--gemini-color-grey-500-hsl) !important;
  --heroui-default-600: var(--gemini-color-grey-600-hsl) !important;
  --heroui-default-700: var(--gemini-color-grey-700-hsl) !important;
  --heroui-default-800: var(--gemini-color-grey-800-hsl) !important;
  --heroui-default-900: var(--gemini-color-grey-900-hsl) !important;
  --heroui-default-foreground: var(--heroui-default-500) !important;
  --heroui-default: var(--heroui-default-300) !important;
  --custom-default-50: var(--gemini-color-grey-50) !important;
  --custom-default-100: var(--gemini-color-grey-100) !important;
  --custom-default-200: var(--gemini-color-grey-200) !important;
  --custom-default-300: var(--gemini-color-grey-300) !important;
  --custom-default-400: var(--gemini-color-grey-400) !important;
  --custom-default-500: var(--gemini-color-grey-500) !important;
  --custom-default-600: var(--gemini-color-grey-600) !important;
  --custom-default-700: var(--gemini-color-grey-700) !important;
  --custom-default-800: var(--gemini-color-grey-800) !important;
  --custom-default-900: var(--gemini-color-grey-900) !important;
  --custom-default-foreground: var(--heroui-default-500) !important;
  --custom-default: var(--custom-default-300) !important;
  --heroui-primary-50: var(--gemini-color-grey-50) !important;
  --heroui-primary-100: var(--gemini-color-grey-100-hsl) !important;
  --heroui-primary-200: var(--gemini-color-grey-200-hsl) !important;
  --heroui-primary-300: var(--gemini-color-grey-300-hsl) !important;
  --heroui-primary-400: var(--gemini-color-grey-400-hsl) !important;
  --heroui-primary-500: var(--gemini-color-grey-500-hsl) !important;
  --heroui-primary-600: var(--gemini-color-grey-600-hsl) !important;
  --heroui-primary-700: var(--gemini-color-grey-700-hsl) !important;
  --heroui-primary-800: var(--gemini-color-grey-800-hsl) !important;
  --heroui-primary-900: var(--gemini-color-grey-900-hsl) !important;
  --heroui-primary-foreground: var(--heroui-default-100) !important;
  --heroui-primary: var(--gemini-color-gemini-cyan-hsl) !important;
  --heroui-secondary-50: 270 61.54% 94.9% !important;
  --heroui-secondary-100: 270 59.26% 89.41% !important;
  --heroui-secondary-200: 270 59.26% 78.82% !important;
  --heroui-secondary-300: 270 59.26% 68.24% !important;
  --heroui-secondary-400: 270 59.26% 57.65% !important;
  --heroui-secondary-500: 270 66.67% 47.06% !important;
  --heroui-secondary-600: 270 66.67% 37.65% !important;
  --heroui-secondary-700: 270 66.67% 28.24% !important;
  --heroui-secondary-800: 270 66.67% 18.82% !important;
  --heroui-secondary-900: 270 66.67% 9.41% !important;
  --heroui-secondary-foreground: 0 0% 100% !important;
  --heroui-secondary: 270 66.67% 47.06% !important;
  --heroui-success-50: 16.42% 64.29% 94.51% !important;
  --heroui-success-100: 145 61.4% 88.82% !important;
  --heroui-success-200: 146.2 61.74% 77.45% !important;
  --heroui-success-300: 145 62.57% 66.47% !important;
  --heroui-success-400: 146 62.45% 55.1% !important;
  --heroui-success-500: 145 79.46% 43.92% !important;
  --heroui-success-600: 146 79.89% 35.1% !important;
  --heroui-success-700: 145 79.26% 26.47% !important;
  --heroui-success-800: 146.2 79.78% 17.45% !important;
  --heroui-success-900: 145 77.78% 8.82% !important;
  --heroui-success-foreground: 0 0% 0% !important;
  --heroui-success: 145 79.46% 43.92% !important;
  --heroui-warning-50: 54 91.67% 95.29% !important;
  --heroui-warning-100: 37 91.3% 90.98% !important;
  --heroui-warning-200: 37 91.3% 81.96% !important;
  --heroui-warning-300: 36 91.24% 73.14% !important;
  --heroui-warning-400: 37 91.26% 64.12% !important;
  --heroui-warning-500: 37 91.27% 55.1% !important;
  --heroui-warning-600: 37 74.22% 44.12% !important;
  --heroui-warning-700: 36 73.96% 33.14% !important;
  --heroui-warning-800: 37 75% 21.96% !important;
  --heroui-warning-900: 37 75% 10.98% !important;
  --heroui-warning-foreground: 0 0% 0% !important;
  --heroui-warning: 37 91.27% 55.1% !important;
  --heroui-danger-50: 339.13 92% 95.1% !important;
  --heroui-danger-100: 340 91.84% 90.39% !important;
  --heroui-danger-200: 339 90% 80.39% !important;
  --heroui-danger-300: 339 90.6% 70.78% !important;
  --heroui-danger-400: 339 90% 60.78% !important;
  --heroui-danger-500: 339 90.36% 51.18% !important;
  --heroui-danger-600: 339 86.54% 40.78% !important;
  --heroui-danger-700: 339 85.99% 30.78% !important;
  --heroui-danger-800: 339 86.54% 20.39% !important;
  --heroui-danger-900: 340 84.91% 10.39% !important;
  --heroui-danger-foreground: 0 0% 100% !important;
  --heroui-danger: 339 90.36% 51.18% !important;
  --heroui-divider-weight: 1px !important;
  --heroui-disabled-opacity: 0.5 !important;
  --heroui-font-size-tiny: 0.75rem !important;
  --heroui-font-size-small: 0.875rem !important;
  --heroui-font-size-medium: 1rem !important;
  --heroui-font-size-large: 1.125rem !important;
  --heroui-line-height-tiny: 1rem !important;
  --heroui-line-height-small: 1.25rem !important;
  --heroui-line-height-medium: 1.5rem !important;
  --heroui-line-height-large: 1.75rem !important;
  --heroui-radius-small: 8px !important;
  --heroui-radius-medium: 12px !important;
  --heroui-radius-large: 14px !important;
  --heroui-border-width-small: 1px !important;
  --heroui-border-width-medium: 2px !important;
  --heroui-border-width-large: 3px !important;
  --heroui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.02),
    0px 2px 10px 0px rgb(0 0 0 / 0.06), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
  --heroui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.03),
    0px 2px 30px 0px rgb(0 0 0 / 0.08), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
  --heroui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.04),
    0px 30px 60px 0px rgb(0 0 0 / 0.12), 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
  --heroui-hover-opacity: 0.8 !important;
  --custom-main-background: rgb(255, 255, 255);
  --custom-side-background: rgb(240, 244, 249);
  --custom-bg-mask-background: rgba(255, 255, 255, 0.4);
  --custom-bg-mask-foreground: var(--gemini-color-white);

  .main .content .bg-default,
  .main .bg-primary,
  .side .bg-primary {
    background: var(--custom-default-100);
    border: var(--gemini-color-gemini-cyan) 1px solid !important;
    box-sizing: border-box !important;
  }

  .hover\:bg-primary\/30:hover {
    background: var(--custom-default-50) !important;
  }

  .main .text-primary-foreground,
  .side .text-primary-foreground,
  .main .text-foreground,
  .side .text-foreground,
  .side .text-primary {
    color: var(--custom-default-400);
  }

  .main .bg-default-100 {
    background-color: var(--custom-default-50) !important;
  }

  .main .group-data-\[selected\=true\]\:bg-primary .bg-white,
  .side .group-data-\[selected\=true\]\:bg-primary .bg-white {
    background-color: var(--custom-default-50) !important;
  }
}

.main .title.text-lg.leading-\[32px\],
.main .h-\[32px\].leading-\[32px\],
.main .text-default-500 .ml-2,
.font-bold {
  background-image: var(--gemini-color-logo-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  background: var(--custom-main-background) !important;
}

.main .content .bg-content1,
.side {
  background: var(--custom-side-background) !important;
}

.main .border-primary {
  border-color: var(--gemini-color-gemini-blue);
}

.main .border-default {
  border-color: var(--gemini-color-gemini-cyan);
}

.main .rounded-full.bg-primary {
  background-color: var(--gemini-color-gemini-blue);
}

.main .rounded-full.bg-danger {
  background-color: var(--gemini-color-red-200);
}

.side .h-\[32px\].leading-\[32px\] {
  color: #2079fe;
}

.side [data-slot="tabList"] {
  background-image: var(--gemini-color-logo-gradient);
}

.main .bg-primary-foreground,
.side .bg-primary-foreground,
.main .bg-foreground,
.side .bg-foreground {
  background: var(--custom-default-500);
}

.main .text-primary-foreground,
.side .text-primary-foreground,
.main .text-foreground,
.side .text-foreground,
.side .text-primary {
  color: var(--custom-default-500);
}

.main .group-data-\[selected\=true\]\:bg-primary .bg-white,
.side .group-data-\[selected\=true\]\:bg-primary .bg-white {
  background-color: var(--custom-side-background) !important;
}

.side .border-primary-foreground,
.side .border-primary {
  border-color: var(--custom-default-500);
}

.hover\:bg-primary\/30:hover {
  background: var(--custom-default-300) !important;
}

.side [data-slot="tabList"] .bg-primary {
  background: var(--custom-bg-mask-background);
}

.side [data-slot="tabList"] [data-slot="tabContent"] {
  color: var(--custom-bg-mask-foreground);
  background-image: none;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: var(--custom-bg-mask-foreground);
}

.main [data-slot="tab"] .text-default-500 {
  color: var(--custom-default-500) !important;
}

/* 重构样式 */
.floating-bg {
  background-color: var(--custom-bg-mask-background) !important;
}

.floating-bg .floating-thumb {
  background-color: transparent !important;
}

.floating-bg .floating-icon {
  color: #2079fe !important;
}

.group[data-selected=true] .group-data-\[selected\=true\]\:bg-primary {
  background-color: var(--gemini-color-gemini-blue);
}

.group-data-\[selected\=true\]\:bg-primary.border-2 {
  border-color: transparent !important;
}
