/* HomoHub */

.side .sticky h3::after {
    content: "Party";
    padding: 4px;
    margin-left: calc(-5ch + 4px);
    color: hsl(var(--nextui-primary-foreground));
    background-color: hsl(var(--nextui-primary));
    border-radius: var(--nextui-radius-small);
}

.border-primary-foreground span {
    background-color: hsl(var(--nextui-primary-foreground));
}

html{
    --nextui-background: 0 0% 0% !important;
    --nextui-foreground-50: 240 5.88% 10% !important;
    --nextui-foreground-100: 240 3.7% 15.88% !important;
    --nextui-foreground-200: 240 5.26% 26.08% !important;
    --nextui-foreground-300: 240 5.2% 33.92% !important;
    --nextui-foreground-400: 240 3.83% 46.08% !important;
    --nextui-foreground-500: 240 5.03% 64.9% !important;
    --nextui-foreground-600: 240 4.88% 83.92% !important;
    --nextui-foreground-700: 240 5.88% 90% !important;
    --nextui-foreground-800: 240 4.76% 95.88% !important;
    --nextui-foreground-900: 0 0% 98.04% !important;
    --nextui-foreground: 210 5.56% 92.94% !important;
    --nextui-focus: 212.01999999999998 100% 46.67% !important;
    --nextui-overlay: 0 0% 0% !important;
    --nextui-divider: 0 0% 100% !important;
    --nextui-divider-opacity: 0.15 !important;
    --nextui-content1: 240 5.88% 10% !important;
    --nextui-content1-foreground: 0 0% 98.04% !important;
    --nextui-content2: 240 3.7% 15.88% !important;
    --nextui-content2-foreground: 240 4.76% 95.88% !important;
    --nextui-content3: 240 5.26% 26.08% !important;
    --nextui-content3-foreground: 240 5.88% 90% !important;
    --nextui-content4: 240 5.2% 33.92% !important;
    --nextui-content4-foreground: 240 4.88% 83.92% !important;
    --nextui-default-50: 240 5.88% 10% !important;
    --nextui-default-100: 240 3.7% 15.88% !important;
    --nextui-default-200: 240 5.26% 26.08% !important;
    --nextui-default-300: 240 5.2% 33.92% !important;
    --nextui-default-400: 240 3.83% 46.08% !important;
    --nextui-default-500: 240 5.03% 64.9% !important;
    --nextui-default-600: 240 4.88% 83.92% !important;
    --nextui-default-700: 240 5.88% 90% !important;
    --nextui-default-800: 240 4.76% 95.88% !important;
    --nextui-default-900: 0 0% 98.04% !important;
    --nextui-default-foreground: 0 0% 100% !important;
    --nextui-default: 240 5.26% 26.08% !important;
    --nextui-primary-50: 211.84000000000003 100% 9.61% !important;
    --nextui-primary-100: 211.84000000000003 100% 19.22% !important;
    --nextui-primary-200: 212.24 100% 28.82% !important;
    --nextui-primary-300: 212.14 100% 38.43% !important;
    --nextui-primary-400: 212.01999999999998 100% 46.67% !important;
    --nextui-primary-500: 212.14 92.45% 58.43% !important;
    --nextui-primary-600: 212.24 92.45% 68.82% !important;
    --nextui-primary-700: 211.84000000000003 92.45% 79.22% !important;
    --nextui-primary-800: 211.84000000000003 92.45% 89.61% !important;
    --nextui-primary-900: 212.5 92.31% 94.9% !important;
    --nextui-primary-foreground: 0 0% 0% !important;
    --nextui-primary: 36 100% 50% !important;
    --nextui-secondary-50: 270 66.67% 9.41% !important;
    --nextui-secondary-100: 270 66.67% 18.82% !important;
    --nextui-secondary-200: 270 66.67% 28.24% !important;
    --nextui-secondary-300: 270 66.67% 37.65% !important;
    --nextui-secondary-400: 270 66.67% 47.06% !important;
    --nextui-secondary-500: 270 59.26% 57.65% !important;
    --nextui-secondary-600: 270 59.26% 68.24% !important;
    --nextui-secondary-700: 270 59.26% 78.82% !important;
    --nextui-secondary-800: 270 59.26% 89.41% !important;
    --nextui-secondary-900: 270 61.54% 94.9% !important;
    --nextui-secondary-foreground: 0 0% 100% !important;
    --nextui-secondary: 270 59.26% 57.65% !important;
    --nextui-success-50: 145.71000000000004 77.78% 8.82% !important;
    --nextui-success-100: 146.2 79.78% 17.45% !important;
    --nextui-success-200: 145.78999999999996 79.26% 26.47% !important;
    --nextui-success-300: 146.01 79.89% 35.1% !important;
    --nextui-success-400: 145.96000000000004 79.46% 43.92% !important;
    --nextui-success-500: 146.01 62.45% 55.1% !important;
    --nextui-success-600: 145.78999999999996 62.57% 66.47% !important;
    --nextui-success-700: 146.2 61.74% 77.45% !important;
    --nextui-success-800: 145.71000000000004 61.4% 88.82% !important;
    --nextui-success-900: 146.66999999999996 64.29% 94.51% !important;
    --nextui-success-foreground: 0 0% 0% !important;
    --nextui-success: 145.96000000000004 79.46% 43.92% !important;
    --nextui-warning-50: 37.139999999999986 75% 10.98% !important;
    --nextui-warning-100: 37.139999999999986 75% 21.96% !important;
    --nextui-warning-200: 36.95999999999998 73.96% 33.14% !important;
    --nextui-warning-300: 37.00999999999999 74.22% 44.12% !important;
    --nextui-warning-400: 37.02999999999997 91.27% 55.1% !important;
    --nextui-warning-500: 37.00999999999999 91.26% 64.12% !important;
    --nextui-warning-600: 36.95999999999998 91.24% 73.14% !important;
    --nextui-warning-700: 37.139999999999986 91.3% 81.96% !important;
    --nextui-warning-800: 37.139999999999986 91.3% 90.98% !important;
    --nextui-warning-900: 54.55000000000001 91.67% 95.29% !important;
    --nextui-warning-foreground: 0 0% 0% !important;
    --nextui-warning: 37.02999999999997 91.27% 55.1% !important;
    --nextui-danger-50: 340 84.91% 10.39% !important;
    --nextui-danger-100: 339.3299999999999 86.54% 20.39% !important;
    --nextui-danger-200: 339.11 85.99% 30.78% !important;
    --nextui-danger-300: 339 86.54% 40.78% !important;
    --nextui-danger-400: 339.20000000000005 90.36% 51.18% !important;
    --nextui-danger-500: 339 90% 60.78% !important;
    --nextui-danger-600: 339.11 90.6% 70.78% !important;
    --nextui-danger-700: 339.3299999999999 90% 80.39% !important;
    --nextui-danger-800: 340 91.84% 90.39% !important;
    --nextui-danger-900: 339.13 92% 95.1% !important;
    --nextui-danger-foreground: 0 0% 100% !important;
    --nextui-danger: 339.20000000000005 90.36% 51.18% !important;
    --nextui-divider-weight: 1px !important;
    --nextui-disabled-opacity: .5 !important;
    --nextui-font-size-tiny: 0.75rem !important;
    --nextui-font-size-small: 0.875rem !important;
    --nextui-font-size-medium: 1rem !important;
    --nextui-font-size-large: 1.125rem !important;
    --nextui-line-height-tiny: 1rem !important;
    --nextui-line-height-small: 1.25rem !important;
    --nextui-line-height-medium: 1.5rem !important;
    --nextui-line-height-large: 1.75rem !important;
    --nextui-radius-small: 8px !important;
    --nextui-radius-medium: 12px !important;
    --nextui-radius-large: 14px !important;
    --nextui-border-width-small: 1px !important;
    --nextui-border-width-medium: 2px !important;
    --nextui-border-width-large: 3px !important;
    --nextui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.05), 0px 2px 10px 0px rgb(0 0 0 / 0.2), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --nextui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.06), 0px 2px 30px 0px rgb(0 0 0 / 0.22), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --nextui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.07), 0px 30px 60px 0px rgb(0 0 0 / 0.26), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --nextui-hover-opacity: .9 !important;
}
