/* HomoHub */

.side .sticky h3 {
    white-space: nowrap;
}

.side .sticky h3::after {
    content: "Party";
    padding: 4px;
    margin-left: calc(-5ch + 4px);
    color: hsl(var(--heroui-primary-foreground));
    background-color: hsl(var(--heroui-primary));
    border-radius: var(--heroui-radius-small);
}

.border-primary-foreground>.bg-white {
    background-color: hsl(var(--heroui-primary-foreground));
}

html {
    --heroui-background: 0 0% 0% !important;
    --heroui-foreground-50: 240 5.88% 10% !important;
    --heroui-foreground-100: 240 3.7% 15.88% !important;
    --heroui-foreground-200: 240 5.26% 26.08% !important;
    --heroui-foreground-300: 240 5.2% 33.92% !important;
    --heroui-foreground-400: 240 3.83% 46.08% !important;
    --heroui-foreground-500: 240 5.03% 64.9% !important;
    --heroui-foreground-600: 240 4.88% 83.92% !important;
    --heroui-foreground-700: 240 5.88% 90% !important;
    --heroui-foreground-800: 240 4.76% 95.88% !important;
    --heroui-foreground-900: 0 0% 98.04% !important;
    --heroui-foreground: 210 5.56% 92.94% !important;
    --heroui-focus: 212.01999999999998 100% 46.67% !important;
    --heroui-overlay: 0 0% 0% !important;
    --heroui-divider: 0 0% 100% !important;
    --heroui-divider-opacity: 0.15 !important;
    --heroui-content1: 240 5.88% 10% !important;
    --heroui-content1-foreground: 0 0% 98.04% !important;
    --heroui-content2: 240 3.7% 15.88% !important;
    --heroui-content2-foreground: 240 4.76% 95.88% !important;
    --heroui-content3: 240 5.26% 26.08% !important;
    --heroui-content3-foreground: 240 5.88% 90% !important;
    --heroui-content4: 240 5.2% 33.92% !important;
    --heroui-content4-foreground: 240 4.88% 83.92% !important;
    --heroui-default-50: 240 5.88% 10% !important;
    --heroui-default-100: 240 3.7% 15.88% !important;
    --heroui-default-200: 240 5.26% 26.08% !important;
    --heroui-default-300: 240 5.2% 33.92% !important;
    --heroui-default-400: 240 3.83% 46.08% !important;
    --heroui-default-500: 240 5.03% 64.9% !important;
    --heroui-default-600: 240 4.88% 83.92% !important;
    --heroui-default-700: 240 5.88% 90% !important;
    --heroui-default-800: 240 4.76% 95.88% !important;
    --heroui-default-900: 0 0% 98.04% !important;
    --heroui-default-foreground: 0 0% 100% !important;
    --heroui-default: 240 5.26% 26.08% !important;
    --heroui-primary-50: 36 100% 50% !important;
    --heroui-primary-100: 36 100% 50% !important;
    --heroui-primary-200: 36 100% 50% !important;
    --heroui-primary-300: 36 100% 50% !important;
    --heroui-primary-400: 36 100% 50% !important;
    --heroui-primary-500: 36 100% 50% !important;
    --heroui-primary-600: 36 100% 50% !important;
    --heroui-primary-700: 36 100% 50% !important;
    --heroui-primary-800: 36 100% 50% !important;
    --heroui-primary-900: 36 100% 50% !important;
    --heroui-primary-foreground: 0 0% 0% !important;
    --heroui-primary: 36 100% 50% !important;
    --heroui-secondary-50: 270 66.67% 9.41% !important;
    --heroui-secondary-100: 270 66.67% 18.82% !important;
    --heroui-secondary-200: 270 66.67% 28.24% !important;
    --heroui-secondary-300: 270 66.67% 37.65% !important;
    --heroui-secondary-400: 270 66.67% 47.06% !important;
    --heroui-secondary-500: 270 59.26% 57.65% !important;
    --heroui-secondary-600: 270 59.26% 68.24% !important;
    --heroui-secondary-700: 270 59.26% 78.82% !important;
    --heroui-secondary-800: 270 59.26% 89.41% !important;
    --heroui-secondary-900: 270 61.54% 94.9% !important;
    --heroui-secondary-foreground: 0 0% 100% !important;
    --heroui-secondary: 270 59.26% 57.65% !important;
    --heroui-success-50: 145.71000000000004 77.78% 8.82% !important;
    --heroui-success-100: 146.2 79.78% 17.45% !important;
    --heroui-success-200: 145.78999999999996 79.26% 26.47% !important;
    --heroui-success-300: 146.01 79.89% 35.1% !important;
    --heroui-success-400: 145.96000000000004 79.46% 43.92% !important;
    --heroui-success-500: 146.01 62.45% 55.1% !important;
    --heroui-success-600: 145.78999999999996 62.57% 66.47% !important;
    --heroui-success-700: 146.2 61.74% 77.45% !important;
    --heroui-success-800: 145.71000000000004 61.4% 88.82% !important;
    --heroui-success-900: 146.66999999999996 64.29% 94.51% !important;
    --heroui-success-foreground: 0 0% 0% !important;
    --heroui-success: 145.96000000000004 79.46% 43.92% !important;
    --heroui-warning-50: 36 100% 50% !important;
    --heroui-warning-100: 36 100% 50% !important;
    --heroui-warning-200: 36 100% 50% !important;
    --heroui-warning-300: 36 100% 50% !important;
    --heroui-warning-400: 36 100% 50% !important;
    --heroui-warning-500: 36 100% 50% !important;
    --heroui-warning-600: 36 100% 50% !important;
    --heroui-warning-700: 36 100% 50% !important;
    --heroui-warning-800: 36 100% 50% !important;
    --heroui-warning-900: 36 100% 50% !important;
    --heroui-warning-foreground: 0 0% 0% !important;
    --heroui-warning: 36 100% 50% !important;
    --heroui-danger-50: 7 72% 60% !important;
    --heroui-danger-100: 7 72% 60% !important;
    --heroui-danger-200: 7 72% 60% !important;
    --heroui-danger-300: 7 72% 60% !important;
    --heroui-danger-400: 7 72% 60% !important;
    --heroui-danger-500: 7 72% 60% !important;
    --heroui-danger-600: 7 72% 60% !important;
    --heroui-danger-700: 7 72% 60% !important;
    --heroui-danger-800: 7 72% 60% !important;
    --heroui-danger-900: 7 72% 60% !important;
    --heroui-danger-foreground: 0 0% 100% !important;
    --heroui-danger: 7 72% 60% !important;
    --heroui-divider-weight: 1px !important;
    --heroui-disabled-opacity: .5 !important;
    --heroui-font-size-tiny: 0.75rem !important;
    --heroui-font-size-small: 0.875rem !important;
    --heroui-font-size-medium: 1rem !important;
    --heroui-font-size-large: 1.125rem !important;
    --heroui-line-height-tiny: 1rem !important;
    --heroui-line-height-small: 1.25rem !important;
    --heroui-line-height-medium: 1.5rem !important;
    --heroui-line-height-large: 1.75rem !important;
    --heroui-radius-small: 8px !important;
    --heroui-radius-medium: 12px !important;
    --heroui-radius-large: 14px !important;
    --heroui-border-width-small: 1px !important;
    --heroui-border-width-medium: 2px !important;
    --heroui-border-width-large: 3px !important;
    --heroui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.05), 0px 2px 10px 0px rgb(0 0 0 / 0.2), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --heroui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.06), 0px 2px 30px 0px rgb(0 0 0 / 0.22), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --heroui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.07), 0px 30px 60px 0px rgb(0 0 0 / 0.26), inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
    --heroui-hover-opacity: .9 !important;
}
