/* One Dark Pro */

.dark,
[data-theme="dark"] {
  --heroui-background: 216 13.16% 14.9% !important;
  --heroui-default: 217.5 13.11% 23.92% !important;
  --heroui-default-100: 217.5 13.11% 23.92% !important;
  --heroui-default-200: 218.57 13.73% 20% !important;
  --heroui-content1: 220 13.04% 18.04% !important;
  --heroui-content2: 217.5 13.11% 23.92% !important;
}

html {
  --heroui-primary: 207.04 81.61% 65.88% !important;
  --heroui-secondary: 186.67 46.96% 54.9% !important;
  --heroui-success: 94.86 38.14% 61.96% !important;
  --heroui-warning: 39.06 67.09% 69.02% !important;
  --heroui-danger: 355.34 65.17% 65.1% !important;
}
