/* 霞光紫（设计 by 666）*/

.light,
[data-theme="light"] {
  --nextui-primary: 260 90% 75% !important;
  --nextui-primary-foreground: 0 0% 100% !important;
  --nextui-secondary: 260 90% 50% !important;
  --nextui-secondary-foreground: 0 0% 100% !important;
  --nextui-content1: 250 30% 100% !important;
  --nextui-content1-foreground: 250 30% 75% !important;
  --nextui-content2: 0 0% 100% !important;
  --nextui-content2-foreground: 250 30% 70% !important;
  --nextui-content3: 250 30% 100% !important;
  --nextui-content3-foreground: 250 30% 65% !important;
  --nextui-content4: 250 30% 100% !important;
  --nextui-content4-foreground: 250 70% 60% !important;
  --nextui-default: 250 30% 95% !important;
  --nextui-default-50: 250 30% 90% !important;
  --nextui-default-100: 250 80% 95% !important;
  --nextui-default-200: 250 80% 90% !important;
  --nextui-default-300: 250 30% 35% !important;
  --nextui-default-400: 250 30% 35% !important;
  --nextui-default-500: 250 30% 60% !important;
  --nextui-default-600: 250 30% 35% !important;
  --nextui-foreground: 250 30% 35% !important;
  --nextui-default-foreground: 250 30% 35% !important;
  --nextui-divider-opacity: 0.1 !important;
  --nextui-border-width-small: 1px !important;
  --nextui-border-width-large: 1px !important;
  --nextui-box-shadow-small: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --nextui-box-shadow-medium: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --nextui-box-shadow-large: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --nextui-background: 250 90% 98% !important;
  /* 自定义变量 */
  --custom-primary-background: linear-gradient(
    135deg,
    hsl(250, 90%, 75%) 0%,
    hsl(291, 70%, 79%) 100%
  );
  --custom-main-background: hsl(250, 90%, 98%);
  --custom-side-background: linear-gradient(
    135deg,
    hsl(250, 90%, 90%) 0%,
    hsl(250, 90%, 98%) 100%
  );
}

.dark,
[data-theme="dark"] {
  --nextui-primary: 260 90% 75% !important;
  --nextui-primary-foreground: 250 30% 90% !important;
  --nextui-secondary: 260 90% 75% !important;
  --nextui-secondary-foreground: 250 30% 90% !important;
  --nextui-content1: 250 30% 30% !important;
  --nextui-content1-foreground: 250 70% 80% !important;
  --nextui-content2: 250 30% 20% !important;
  --nextui-content2-foreground: 250 70% 80% !important;
  --nextui-content3: 250 30% 30% !important;
  --nextui-content3-foreground: 250 70% 80% !important;
  --nextui-content4: 250 30% 30% !important;
  --nextui-content4-foreground: 250 70% 80% !important;
  --nextui-default: 250 30% 40% !important;
  --nextui-default-50: 250 30% 40% !important;
  --nextui-default-100: 250 30% 40% !important;
  --nextui-default-200: 250 30% 40% !important;
  --nextui-default-300: 250 30% 85% !important;
  --nextui-default-400: 250 30% 85% !important;
  --nextui-default-500: 250 30% 70% !important;
  --nextui-default-600: 250 30% 85% !important;
  --nextui-foreground: 250 30% 85% !important;
  --nextui-default-foreground: 250 30% 85% !important;
  --nextui-divider-opacity: 0.1 !important;
  --nextui-border-width-small: 1px !important;
  --nextui-border-width-large: 1px !important;
  --nextui-box-shadow-small: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --nextui-box-shadow-medium: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --nextui-box-shadow-large: 0px 4px 10px rgba(0, 0, 0, 0.02) !important;
  --nextui-background: 250 50% 20% !important;
  /* 自定义变量 */
  --custom-primary-background: linear-gradient(
    135deg,
    hsl(250, 80%, 60%) 0%,
    hsl(291, 60%, 70%) 100%
  );
  --custom-main-background: hsl(250, 50%, 20%);
  --custom-side-background: linear-gradient(
    135deg,
    hsl(250, 50%, 5%) 0%,
    hsl(250, 50%, 20%) 100%
  );
}

/* 下拉菜单保持默认阴影 */
[data-slot="content"] {
  --nextui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.05),
    0px 2px 10px 0px rgb(0 0 0 / 0.2),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --nextui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.06),
    0px 2px 30px 0px rgb(0 0 0 / 0.22),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --nextui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.07),
    0px 30px 60px 0px rgb(0 0 0 / 0.26),
    inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --nextui-hover-opacity: 0.9 !important;
}

.bg-primary {
  background: var(--custom-primary-background) !important;
}
.main {
  background: var(--custom-main-background) !important;
}
.side {
  background: var(--custom-side-background) !important;
}
